[submodule "frontend"]
	path = frontend
	url = https://github.com/diegodevelops/caffe-pr-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/diegodevelops/caffe-pr-backend.git
