files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443 ssl;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEBzCCAu+gAwIBAgIUEyJk5gzY8hGIWLISghxLjyZKUyIwDQYJKoZIhvcNAQEL
      BQAwgasxCzAJBgNVBAYTAlVTMRQwEgYDVQQIDAtQdWVydG8gUmljbzERMA8GA1UE
      BwwIU2FuIEp1YW4xFDASBgNVBAoMC0RpZWdvIFBlcmV6MRQwEgYDVQQLDAtEZXZl
      bG9wbWVudDEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTEmMCQGCSqG
      SIb3DQEJARYXZGllZ29kZXZlbG9wc0BnbWFpbC5jb20wHhcNMjQwMzEyMTIzMTIw
      WhcNMjUwMzEyMTIzMTIwWjCBqzELMAkGA1UEBhMCVVMxFDASBgNVBAgMC1B1ZXJ0
      byBSaWNvMREwDwYDVQQHDAhTYW4gSnVhbjEUMBIGA1UECgwLRGllZ28gUGVyZXox
      FDASBgNVBAsMC0RldmVsb3BtZW50MR8wHQYDVQQDDBYqLmVsYXN0aWNiZWFuc3Rh
      bGsuY29tMSYwJAYJKoZIhvcNAQkBFhdkaWVnb2RldmVsb3BzQGdtYWlsLmNvbTCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL58oKrthn4whGOehAm5aiDg
      xBpqeqt4HSOLbqD6iF/qZclll9H6KRW9oliSxgekwzk7xyRuni64chS/J9kun8lI
      ErY1Em/c5DbIQE6lLRVGDhen2p4HEJzaICuaZlgi6QTJdo33BvhyXw1r7P3DHhD7
      MW2kaaIBk/x1hg9g5VEdoyTBkJDZ4amEcrrnIYmDkznsgUPB8grsHsp4jYXECRzy
      eoZM5VuD/5QFA6VGg3r/u4YM0WfIAuxzN+NwNo1uuqLainOmk/rtcYMH3Ky2uAbr
      cbNuLLc21sJ1OoXKccCYZiHyp5UiHA/nEeI9src4lXavCL+WCByPte5KJIdxXI0C
      AwEAAaMhMB8wHQYDVR0OBBYEFD7S2OQeGHdllk+/quHCrHBxf9SUMA0GCSqGSIb3
      DQEBCwUAA4IBAQBDe65xC0FKZqv5FbYXrQqIHMc1DhujILcaXY3qszpJTJofr50k
      +cAQVchZ9xHalMfaKGwdwBcXUgHbtUV/QNh68PPJmurlKzdlQ4/sG7aCUIaz3+OZ
      vfZD5fps+/TQhlEAQ7UzmMyBqg4V8/332n2SZH909pqcYv1ks0lwfVOf8XLxGgR3
      VptnP3RxC9cWXbZ+4zsN9QGwXsDwcXCopxRb77FhZCDrCEji/RCP6E22Fdmkliat
      7tVy4aEww8MtgTX2mBwriPmbsZJK53BUxQP/r4W/LDEEcDdZUpeIjMiU09oCWGqm
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      # Key is dowloaded from S3 bucket
      -----END RSA PRIVATE KEY-----